---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostsByYear from '../../components/PostsByYear.astro';

type BlogPost = CollectionEntry<'blog'>;
const title = '兴尽悲来，瞎写的文绉绉'
const description = '其实是一些长一点的文段，可能是技术文章，可能是生活感悟，反正就是比碎片化的内容更长一点的东西了';

const posts = (await getCollection('blog')).sort((a: BlogPost, b: BlogPost) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout
	title={title}
	description={description}
>
  <div class='container'>
    <div class="mb-10">
      <h1 class="text-3xl font-semibold mb-2">{title}</h1>
      <p class="text-zinc-700 dark:text-zinc-300 text-lg">{description}</p>
    </div>
    <PostsByYear posts={posts}/>
  </div>
</BaseLayout>
